<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Faps input generation">
  <meta name="author" content="Thomas D Daff">

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" type="text/css">
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <!-- Bootstrap javascript -->
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

  <!-- JSmol -->
  <script type="text/javascript" src="{{ url_for('static', filename='jsmol/JSmol.min.nojq.js') }}"></script>

  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='custom.css') }}" rel="stylesheet" type="text/css">

  <title>Faps Web Interface - Upload your CIF for easy isotherms.</title>
  <script src="{{ url_for('static', filename='fapweb.js') }}"></script>
</head>

<body>
<div id="wrap">
  <div class="container">
    <div class="page-header">
      <h1>Faps UI - Upload CIFs for easy isotherms</h1>
    </div>
    <p class="lead">Fully Automated Adsorption Analysis in Porous Solids, or
      faps, is a tool developed by Tom Daff in the
      <a href="//titan.chem.uottawa.ca"> research group of Tom Woo at the
        University of Ottawa</a>.</p>

    <p>Upload a <code>.cif</code> file of a Metal Organic Framework or other
      porous solid, and we will use molecular simulations to estimate
      gas adsorption within the structure. </p>
    <ol>
      <li>Use the <code>Browse</code> to find your structure.</li>
      <li>Click on an <em>option name</em> to activate the option.</li>
      <li>Click on the <em>section heading</em> to expose advanced options.</li>
      <li>Enter values for options you'd like to change.</li>
      <li>Make sure you have entered a valid <a href="#email">email address</a>
        to get your results.
      </li>
      <li>Click <code>Submit</code>.</li>
      <li>Wait for your results. Depending on your structure and options, this
        can be a a few minutes or a few hours.
      </li>
    </ol>
    <div class="panel panel-primary">
      <div class="panel-body">
        <form id="job-form" action="/submit" method=post enctype=multipart/form-data>
          <div class="col-sm-6">
            <h2>Generated fap file</h2>
            <textarea id="generated-file" name="fap-file" rows="16" class="col-sm-12"></textarea>
          </div>
          <div class="col-sm-6">
            <h2>Upload cif file and submit job</h2>
            <!--<div id="cif-canvas"><canvas id="view-cif"></canvas></div>-->
            <script>jmolSetup();</script>
            <p>
              <input id="cif-file" type=file accept="chemical/x-cif" name="cif-file" onchange="viewCif2();">
              <!--<input type=submit value=Upload> -->
              <button type="button" id="submit-btn" class="btn btn-primary" onclick="submitJob();">
                Submit job!
              </button>
          </div>
        </form>
      </div>
    </div>
    <div>
      <form id='all-options' class="form-horizontal form-compact" role="form">
        {% for section in options|sort %}
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-target="#collapse{{ section|e|urlencode }}">
                  {{ section|e }}
                </a>
              </h4>
            </div>
            <div id="collapse{{ section|e|urlencode }}" class="panel-collapse collapse {{ ' in' if not 'advanced' in section }}">
              <div class="panel-body">
                {% for option in options[section] %}
                  <div class="form-group">
                    <label for="{{ option.option_name|e }}" class="col-sm-2 control-label" onclick="switchActive('{{ option.option_name|e }}');">
                      {{ option.option_name|e }}
                    </label>

                    <div class="col-sm-2">
                      {% if option.option_name == 'guests' %}
                        <select multiple class="form-control" id="{{ option.option_name|e }}" disabled onchange="updateFap();">
                          {% for guest in guests %}
                            <option title="{{ guest[1] }} &#10; {{ guest[2] }}"{{ ' selected' if guest[0] in option.default }}>{{ guest[0] }}</option>
                          {% endfor %}
                        </select>
                      {% elif option.option_type == 'bool' %}
                        <input type="checkbox" class="form-control" id="{{ option.option_name|e }}" {{ ' checked="checked"' if option.default }} disabled onchange="updateFap();">
                      {% elif 'enum' in option.option_type %}
                        <select class="form-control" id="{{ option.option_name|e }}" disabled onchange="updateFap();">
                          {% for item in option.option_type[1:] %}
                            <option{{ ' selected' if item == option.default }}>{{ item|e }}</option>
                          {% endfor %}
                        </select>
                      {% else %}
                        <input type="text" class="form-control" id="{{ option.option_name|e }}" placeholder="{{ option.default }}" disabled onchange="updateFap();">
                      {% endif %}
                    </div>
                    <div class="col-sm-6"><p>{{ option.help_text|e }} Default:
                      <code>{{ option.default|e }}</code></p></div>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        {% endfor %}
      </form>
    </div>
  </div>
</div>
</body>
</html>
